/* variables */
@font-face {
    font-family:"Heavitas";
    src:url('/fonts/Heavitas/Heavitas.ttf')
}

@font-face {
    font-family: "Sunday";
    src: url('/fonts/Sunday/SUNDAY.ttf');
}




:root {
    --mainbackground-color:#ffffff;
    --secondarybackground-color: #2F3E46 ;
    --maintext-color:#60a8d3 ;
    --secondarytext-color:#ffffff; 
    --main-fontfamily:"Heavitas", serif ;
    --secondary-fontfamily:"Sunday", sans-serif ;
    --tertiary-fontfamily: "";
    
}

.whitebg {
    background-color:white;
}


#navigationBar {
    background-color:var(--mainbackground-color);
    font-family:var(--main-fontfamily);
    padding-top:0;
    padding-bottom:0;

    width:100%;

}


#navigationBar .nav-link {
    color:var(--maintext-color);
    font-size:1.3rem;
}

#sectionHeroBanner {
  min-height:70vh;

  background-image: url(../images/banner.png);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;

  font-family:var(--main-fontfamily);
  color:#0a6f4f;


}

@media (max-width:992px) {
    #sectionHeroBanner {
        min-height:50vh;
    }
}

@media (max-width:768px) {
    #sectionHeroBanner {
        min-height:30vh;
    }
}

#sectionAboutTheProject {
    font-family:var(--main-fontfamily);
    background-color:var(--secondarybackground-color);
    color:var(--secondarytext-color)
}

#sectionAboutTheProject p {
    font-family:var(--secondary-fontfamily);
    color:var(--secondary-text-color);
    text-align:justify;
    margin:2rem 0 2rem 0

}   

#sectionAboutTheProject > .row {
    margin-bottom:5rem;
}

#aboutPicture {
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

}

#sectionObjectives h2 {
    margin-bottom:2rem;
}

#sectionObjectives h5 {
    font-family:var(--secondary-fontfamily);
}

#sectionObjectives p {
    max-width:50%;

}

#sectionPrizes {
    display:flex;
    justify-content:center;
}

#sectionPrizes h5 {
    font-family:var(--secondary-fontfamily);
}

#sectionTimeline h5 {
    font-family:var(--secondary-fontfamily)
}

#sectionRegistration {
    font-family:var(--main-fontfamily);
}


#navigationFooter {
    background-color:var(--mainbackground-color);
    font-family:var(--secondary-fontfamily);  

    width:100%;


}

.form-areas {
    font-family:var(--secondary-fontfamily);
}